@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.date-container {
  font-weight: bold;
}
.min-height {
  min-height: 135px;
}
thead {
  background-color: #92d14f;
  color: white;
  font-size: 16px;
  border: 1px solid #92d14f;
}
tbody {
  border: 1px solid #dddddd;
}
h2 {
  color: #92d14f;
}
td,
th {
  text-align: center;
  min-width: 185px;
}
td {
  text-align: left;
  border: 1px solid #dddddd;
}
.sunday {
  color: #eb8e7a;
}
.btn-title {
  position: relative;
  display: block;
  height: 40px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 4px;
  border: 0px solid #fff;
  border-radius: 3px;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  background-color: #000;
}
/* td.date-container {
  width: 0px;
} */
label.input-group-type {
  margin-top: 7px;
}
input#inputTitle {
  margin-left: 34px;
}
input#colorPick {
  cursor: pointer;
  margin: 7px 0 0 -45px;
}
select#inputGroupSelect {
  margin-left: 31px;
}
textarea#message-text {
  margin-left: 12px;
}
.modal-footer {
  border-top: none;
}
.modal-header {
  border-bottom: none;
}
input#input-date {
  margin-left: 18px;
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  border-radius: 0 !important;
}
button.btn.btn-primary {
  float: right;
}
button.btn.btn-secondary {
  margin-right: 8px;
  float: right;
}
input#start-date {
  margin-left: 5px;
}
input#end-date {
  margin-left: 5px;
}
input#start-hour {
  margin-left: 30px;
}
input#end-hour {
  margin-left: 30px;
}
form#myform {
  margin-left: 45px;
}
.mid-day {
  width: 115%;
  left: -10px;
}
table.table.table-borderless {
  overflow: hidden;
}
.one-day {
  width: 100%;
}
.first-day {
  width: 107%;
  text-align: left;
}
.last-day {
  width: 106%;
  left: -10px;
}
.second-day {
  width: 106%;
  left: -10px;
}
.daterangepicker.show-calendar .drp-buttons {
  display: none;
}
.drp-calendar.left.single {
  margin-bottom: 10px;
}
img.colorpick-eyedropper-input-trigger {
  display: none;
}
.hide {
  display: none;
}
.drp-calendar.left.single {
  margin-right: 5px;
  margin-left: 5px;
}
