@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
/* .container {
  background-color: #f8f9fa;
  padding: 25px 15px 25px 55px;
  margin-top: 45px;
} */
/* .content {
  background-color: white;
} */
.date-container {
  font-weight: bold;
}
.min-height {
  min-height: 125px;
  flex: 0 1 35%;
}
thead {
  background-color: #92d14f;
  color: white;
  font-size: 16px;
  border: 1px solid #92d14f;
}
tbody {
  border: 1px solid #dddddd;
}
h2 {
  color: #92d14f;
}
td,
th {
  text-align: center;
  min-width: 180px;
}
td {
  text-align: left;
  border: 1px solid #dddddd;
}
.sunday {
  color: #eb8e7a;
}
/* .title-name {
  font-size: 12px;
  position: relative;
  bottom: 72px;
} */
.btn-title {
  position: relative;
  display: block;
  height: 40px;
  white-space: nowrap;
  margin-bottom: 4px;
  border: 0px solid #fff;
  border-radius: 3px;
  font-size: 13px;
  text-align: left;
  color: #fff;
  font-weight: bold;
}
td.date-container {
  width: 0px;
}
/* .color1 {
  background-color: #3281ac;.title-name {
  font-size: 12px;
  position: relative;
  bottom: 72px;
}
}
.color2 {
  background-color: #64d0da;
  border: 1px solid #64d0da;
}
.color3 {
  background-color: #92d14f;
  border: 1px solid #92d14f;
} */
.edit {
  font-size: 11px;
  color: #3281ac;
  margin-top: -3px;
  font-weight: 500;
}
.code-color {
  color: #8faadc;
}
button.title-name {
  border: none;
  background-color: transparent;
  left: -6px;
}
label.input-group-type {
  margin-top: 7px;
}
input#inputTitle {
  margin-left: 22px;
}
select#inputGroupSelect {
  margin-left: 18px;
}
textarea#message-text {
  margin-left: -1px;
}
.modal-footer {
  border-top: none;
}
.modal-header {
  border-bottom: none;
}
input#input-date {
  margin-left: 18px;
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  border-radius: 0 !important;
}
button.btn.btn-primary {
  float: right;
}
button.btn.btn-secondary {
  margin-right: 8px;
  float: right;
}
input#start-date {
  margin-left: 5px;
}
input#end-date {
  margin-left: 5px;
}
input#start-hour {
  margin-left: 5px;
}
input#end-hour {
  margin-left: 5px;
}
form#myform {
  margin-left: 45px;
}
.mid-day {
  width: 120%;
  left: -10px;
}
table.table.table-borderless {
  overflow: hidden;
}
.one-day {
  width: 100%;
}
.first-day {
  width: 115%;
}
.last-day {
  width: 106%;
  left: -10px;
}
.second-day {
  width: 112%;
  left: -20px;
}
